<div th:fragment="sidebar">
	<!-- BEGIN: Left Aside -->
	<button class="m-aside-left-close  m-aside-left-close--skin-dark "
		id="m_aside_left_close_btn">
		<i class="la la-close"></i>
	</button>
	<div id="m_aside_left"
		class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

		<!-- BEGIN: Aside Menu -->
		<div id="m_ver_menu"
			class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
			m-menu-vertical="1" m-menu-scrollable="1"
			m-menu-dropdown-timeout="500" style="position: relative;">
			<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
				<li class="m-menu__item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'm-menu__item--active':''}" aria-haspopup="true">
					<a th:href="@{/}" class="m-menu__link "><span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-line-graph"></i>
						<span class="m-menu__link-text">Dashboard</span>
					</a>
				</li>
				<li class="m-menu__section ">
					<h4 class="m-menu__section-text">Components</h4> <i
					class="m-menu__section-icon flaticon-more-v2"></i>
				</li>
				<li class="m-menu__item" th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'm-menu__item--active':''}" aria-haspopup="true">
					<a th:href="@{/admin}" class="m-menu__link "><span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-security"></i>
						<span class="m-menu__link-text">Admin</span>
					</a>
				</li>
				
				<li class="m-menu__item  m-menu__item--submenu " th:classappend="${(#httpServletRequest.getRequestURI().startsWith('/students') ? 'm-menu\_\_item--open m-menu\_\_item--expanded':'')}" aria-haspopup="true" m-menu-submenu-toggle="hover"><a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-users"></i><span class="m-menu__link-text">Students</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
					<div class="m-menu__submenu "><span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Students</span></span></li>
							<li class="m-menu__item " aria-haspopup="true">
								<a href="components/utils/session-timeout.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
									<span class="m-menu__link-text">Admit Students</span>
								</a>
							</li>
							
							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover"><a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
									 class="m-menu__link-text">Students Information</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
								<div class="m-menu__submenu "><span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item " aria-haspopup="true"><a target="_blank" href="snippets/pages/user/login-1.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Login
													- 1</span></a></li>
										<li class="m-menu__item " aria-haspopup="true"><a target="_blank" href="snippets/pages/user/login-2.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Login
													- 2</span></a></li>
										<li class="m-menu__item " aria-haspopup="true"><a target="_blank" href="snippets/pages/user/login-3.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Login
													- 3</span></a></li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item " th:classappend="${#httpServletRequest.getRequestURI() == '/students' ? 'm-menu__item--active':''}" aria-haspopup="true">
								<a th:href="@{/parents}" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
									<span class="m-menu__link-text">Students Promotion</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="m-menu__item" th:classappend="${#httpServletRequest.getRequestURI() == '/parents' ? 'm-menu__item--active':''}" aria-haspopup="true">
					<a th:href="@{/parents}" class="m-menu__link "><span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-line-graph"></i>
						<span class="m-menu__link-text">Parents</span>
					</a>
				</li>
			</ul>
		</div>

		<!-- END: Aside Menu -->
	</div>
</div>
<!-- END: Left Aside -->