<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Metronic | Dashboard</title>
<meta name="description" content="Latest updates and statistic charts" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />


<div th:replace="fragments/css_resources"></div>
</head>
<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<div th:replace="fragments/header::header"></div>
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
			<div th:replace="fragments/sidebar::sidebar"></div>
			<div class="m-grid__item m-grid__item--fluid m-wrapper">
				<div layout:fragment="main"></div>
			</div>
		</div>
		<div th:replace="fragments/footer::footer"></div>
	</div>

	<div th:replace="fragments/js_resources"></div>
</body>
</html>